/* bg colour */
body {
  background-color: rgb(37, 37, 37);
  color: white;
} 

* {
  font-family: 'Helvetica', 'verdana', 'Trebuchet MS', sans-serif;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}


/* Style the tab
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
} */

/* Style the buttons that are used to open the tab content
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
} */

/* Change background color of buttons on hover
.tab button:hover {
  background-color: #ddd;
} */

/* Create an active/current tablink class
.tab button.active {
  background-color: #ccc;
} */



/* Style the tab content
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} */

.mrtcontainer {
  border-style: solid;
  justify-content: center;
  display: flex;
  background-image: url('singapore.png'); 
  background-repeat: no-repeat;
  background-size: 1100px 1000px;
  background-position: center;
  
}


.mrtheader{
    padding: 2px;
    text-align: left;
    background: #343434;
    color: white;
    margin:0 0 0 0;
    border-style: solid;
    border-bottom: 0;
    font-size: 20px;
    display:relative;



}

img {
  width:12%;
  float: left;
  margin-top:20px;
  margin-bottom:0px;
  margin-left: 10px;
}

p{
  position: absolute;
  text-align: left;

}

.canvas {
  padding: 0;
  display: block;
  margin-top: 40px;


}




/* style the paramters */
.placeholder-box {
  position: relative;
	background-color: #D3D3D3;
	top:50%;
	left:50%;
	width:500px;
  height: 300px;
  padding: 20px;
  /*border: 2px solid #000;*/

}




/* input for parameters */
.inputcontainer {
  width: 25%;
  display :inline-block;
}

/* input text box */
.input {
  width: 100%;
  max-width: 100px;
  color: rgb(0, 0, 0);
  height: 40px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: -15px;

}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
  background: white;
}

.number-wrapper {
  position: relative;
  z-index: 3;

}

.number-wrapper:after,
.number-wrapper:before {
  position: absolute;
  right: 8px;
  width: 10px;
  height: 10px;
  font-size: 10px;
  pointer-events: none;
  background-color: #ffffff;
}

.number-wrapper:after {
  color: gray;
  content: "\25B2";
  transform: scale(2, 1);
  top: -1px;
}

.number-wrapper:before {
  color: gray;
  content: "\25BC";
  margin-bottom: 5px;
  bottom: -.5em;
  transform: scale(2, 1);
}




/* drop down filter */
select{
  border:none;
  padding: 10px 20px;
  display:block;
  border-radius:5px;
  margin: 5px;
}

select:focus{
  outline:none;
}

/* New line style */

/* .newlinebox {
  width: 350px;
  padding: 30px;
  border: 2px solid gray;
  margin: 30px;
  justify-content: space-between;
  flex-direction: column;
  display: none;
} */

.newlineboxnxt {
  width: 350px;
  padding: 30px;
  margin: 30px;
  justify-content: space-between;
  flex-direction: column;
  display: none;

}

.textinput{
  margin: 5px 5px;
}


.container {
  justify-content: space-between;
  flex-direction: column;

  display: inline-flex;
}

.right{
  
  justify-content: flex-end;
  display: flex;
}

.next {
  justify-content: flex-end;
  display: inline-flex;
  margin-top: 10px;
  transition-duration: 0.4s;
  border-radius: 4px;
  background-color: #131313;
  color: white;

}

.next:hover {
  background-color: #a8a9a8; 
  color: white;
} 
.previous {
  justify-content: flex-end;
  display: inline-flex;
  margin-top: 10px;
  margin-right: 5px;
  transition-duration: 0.4s;
  border-radius: 4px;
  background-color: #131313;
  color: white;
}
.previous:hover {
  background-color: #a8a9a8; 
  color: white;
} 

.save {
  justify-content: flex-end;
  display: inline-flex;
  margin-top: 10px;
  margin-left: 5px;
  transition-duration: 0.4s;
  border-radius: 4px;
  background-color: #131313;
  color: white;
}
.save:hover {
  background-color: #a8a9a8; 
  color: white;
} 

.button {
  margin-top: 20px;
  transition-duration: 0.4s;
  border-radius: 6px;
  border-color: #131313;
  ;
  background-color: #131313;
  color: white;
  padding: 4px;
  }
  
  .button:hover {
    background-color: #c0c2c0; 
    color: black;
  }

  .chart{
    margin-top: 10px;
    border-style: solid;
    width: min-content;
    margin-left: auto;
    margin-right: auto;
    display:relative;

  }

  /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* overflow: auto; /*Enable scroll if needed*/
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #212121;
  margin: 0 auto;
  padding: 30px;
  border: 4px solid #505050;
  border-radius: 10px;
  color: white;
  width: 40%;
  height: auto;
  
  /* flex-direction: column; */


}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



.chartcompare{
  display: inline-block;
  border-style: solid;
  vertical-align: middle;
  width: 500px;
  height:500px;
  text-align:left;
  padding: 5px;
}

.chartcomp{
  text-align: center;
  margin-top: 10px;
}

.chartline{
  margin-top: 10px;
  border-style: solid;
  width:700px;
  margin-left: auto;
  margin-right: auto;
  display:relative;
  padding: 5px;

}


/* .chartbg{
  background-color: #383838;

}  */
