/* bg colour */
/*body {background-color: rgb(37, 37, 37);} */

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}



/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* style the paramters */
.placeholder-box {
  position: relative;
	background-color: #D3D3D3;
	top:50%;
	left:50%;
	width:500px;
  height: 300px;
  padding: 20px;
  /*border: 2px solid #000;*/

}




/* input for parameters */
.inputcontainer {
  width: 25%;
  display :inline-block;
}

/* input text box */
.input {
  width: 100%;
  max-width: 100px;
  color: rgb(0, 0, 0);
  height: 40px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: -15px;

}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
  background: white;
}

.number-wrapper {
  position: relative;
  z-index: 3;

}

.number-wrapper:after,
.number-wrapper:before {
  position: absolute;
  right: 8px;
  width: 10px;
  height: 10px;
  font-size: 10px;
  pointer-events: none;
  background-color: #ffffff;
}

.number-wrapper:after {
  color: gray;
  content: "\25B2";
  transform: scale(2, 1);
  top: -1px;
}

.number-wrapper:before {
  color: gray;
  content: "\25BC";
  margin-bottom: 5px;
  bottom: -.5em;
  transform: scale(2, 1);
}




/* drop down filter */
select{
  border:none;
  padding: 10px 20px;
  border-radius:5px;
}

select:focus{
  outline:none;
}

/* New line style */

.newlinebox {
  width: 350px;
  padding: 30px;
  border: 2px solid gray;
  margin: 30px;
  height: 100px;
  justify-content: space-between;
  flex-direction: column;
  display: none;
}

.newlineboxnxt {
  width: 350px;
  padding: 30px;
  border: 2px solid gray;
  margin: 30px;
  height: 100px;
  justify-content: space-between;
  flex-direction: column;
  display: none;
}

.textinput{
  margin: 5px 5px;
}


.container {
  justify-content: space-between;
  flex-direction: column;

  display: inline-flex;
}

.right{
  
  justify-content: flex-end;
  display: flex;
}

.container .next {
  justify-content: flex-end;
  display: inline-flex;

}
.container .previous {
  justify-content: flex-end;
  display: inline-flex;
}

